.clients{
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title{
  margin-bottom: 50px;
}

.clients__list {
  display: inline-flex;
}

.clients__link {
display: inline-flex;
justify-content: center;
align-items: center;
width: 170px;
height: 90px;
border: 1px solid #AFB1B8;
border-radius: 4px;
  fill: #AFB1B8;
  transition: border-color $animation;

&:hover .clients__icon,
&:focus .clients__icon {
  fill: $accent-color;
}

&:hover,
&:focus{
border-color: $accent-color;
}
}

.clients__icon{
  transition: fill $animation;
}

.clients__item{
  flex-basis: calc((100% - 30px * 6) / 6);
margin-left: 30px;
margin-top: 30px;
}