.logo--margin-right {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__web {
color: $accent-color;
}

.logo__studio--dark {
color: #000000;
}

.page-footer__logo{
  display: flex;
  margin-bottom: 20px;
}

.logo__studio--light {
color: $light-text-color;
}