.page-footer{
  padding-top: 60px;
  padding-bottom: 60px;
background-color: $dark-bg-color;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  }

.page-footer__link{
 display: inline-block;
  transition: color $animation;
}

.page-footer__link:not(:last-of-type) {
  margin-bottom: 9px;

&:focus,
&:hover{
color: $accent-color;
}
}

.page-footer__link--map{
color:$light-text-color;
}

.page-footer__link--info{
color: rgba(255, 255, 255, 0.6);
}

/*footer-grid*/
.page-footer__information,
.connection{
flex-basis: calc((50% - 45px) / 2);
}

.subscription{
  flex-basis: calc(50% - 15px);
}

/*footer-socials*/
.connection,
.subscription{
  padding-top: 12px;
}

.connection__title,
.subscription__title{
display: flex;
line-height: 1.14;
text-transform: uppercase;
color: $light-text-color;
margin-bottom: 20px;
font-size: 14px;
}

.connection__list--start{
  display: flex;
  margin: 0;
  justify-content: flex-start;
}

.connection__item + .connection__item {
  margin-left: 10px;
  }

.connection__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $light-text-color;
  fill: #AFB1B8;
  transition: fill $animation, background-color $animation;

&:hover,
&:focus {
  fill: $light-text-color;
  background-color: $accent-color;
}
}

.connection-link--white{
  fill: $light-text-color;
  background-color: rgba(255, 255, 255, 0.1);
}

.connection__icon {
  width: 20px;
  height: 20px;
}

/*footer-form*/
.subscription__form{
  display: flex;
  justify-content: space-between;
  
&:not(:placeholder-shown) > .subscription__form--email {
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}

 & input::placeholder{
  display: block;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  }
}

 .subscription__form--email{
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  }

 .subscription__form--submit{
   font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
 
&::after{
  display: flex;
  content:"";
  margin-left: 10px;
  min-width: 24px;
  min-height: 24px;
  background-image: url(../images/icons/icon-send.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
 }
