/*service*/
.service,
.team,
.portfolio {
  padding-bottom: 94px;
}

.service__title,
.team__title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $text-color;
}

.service__title,
.team__title {
margin-bottom: 50px;
}

.service__thumb{
  position: relative;
}

.service__label{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47,48,58,0.8);
}

.service__text{
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $light-text-color;
}

.service__item{
  flex-basis: calc((100% - 30px * 3) / 3);
margin-left: 30px;
margin-top: 30px;
}
